*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  color: #555459;
}

ul {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

#root {
  display: flex;
  height: 100%;
  --white: #ffffff;
  --palette-white: #fafafa;
  --palette-soft-white: #f2f2f2;
  --palette-light-gray: #a2a2a2;
  --palette-med-gray: #555459;
  --palette-dark-gray: #414142;
  --palette-pale-blue: #e8f1f5;
  --palette-gray-blue: #dbe2ef;
  --palette-bright-blue: #a5def1;
  --palette-brighter-blue: #48b5e9;
  --palette-med-blue: #2b6dad;
  --palette-dark-blue: #004a7c;
  --palette-darker-blue: #112d4e;
}

.rw-multiselect-wrapper {
  margin-top: 10px;
  margin-top: 10px;
}

.rw-input {
  width: 100%;
}

.rw-list-option {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 1px;
  padding: .214em .15em .214em .4em;
  line-height: 1.4em;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
}

.rw-multiselect-taglist {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: inline;
  padding-right: 0;
}
.rw-multiselect-taglist li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 1px;
  margin-bottom: 5px;
  padding: .214em .15em .214em .4em;
  line-height: 1.4em;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
}

.rw-popup-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
}

a {
  margin: 5px;
  text-decoration: none;
  color: inherit;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}