@font-face {
  font-family: 'Faustina-Regular';
  src: local('Faustina-Regular'), url(./fonts/Faustina-Regular.ttf) format('ttf');
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Faustina-Regular';
}

body {
  background: #f9f9f9;
  color: #555459;
}

ul {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

#root {
  display: flex;
  height: 100%;
  --white: #ffffff;
  --palette-white: #fafafa;
  --palette-soft-white: #f2f2f2;
  --palette-light-gray: #a2a2a2;
  --palette-med-gray: #555459;
  --palette-dark-gray: #414142;
  --palette-pale-blue: #e8f1f5;
  --palette-gray-blue: #dbe2ef;
  --palette-bright-blue: #a5def1;
  --palette-brighter-blue: #48b5e9;
  --palette-med-blue: #2b6dad;
  --palette-dark-blue: #004a7c;
  --palette-darker-blue: #112d4e;
  --palette-med-red: #ab2b2b;
}

.card {
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.2;
}

.modal-form {
  z-index: 9998;
  padding: 3rem 4rem;
  margin: 2rem auto;
  background: white;
  width: 40%;
  height: 80%;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
  border-radius: 0.25rem;
}

a {
  margin: 5px;
  text-decoration: none;
  color: inherit;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.modal {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0; 0, 0, 0.3);
}

.multiselect {
  width: 100%;
}

.navbar-main-bar {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  z-index: 1030;
  width: 100%;
  background: var(--white);
  height: 50px;
  top: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.navbar-main-wrap {
  display: inherit;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-top: 1%;
}

.navbar-main-left {
  margin-left: 2%;
  align-items: center;
  height: 100%;
  flex: 1 1 auto;
  padding-left: 15px;
}

.navbar-main-right {
  margin-right: 2%;
  flex: 0 0 auto;
  height: 100%;
  display: inline-flex;
}

.navbar-main-link {
  opacity: 0.85;
  transition: all 0.15s ease-out 0s;
  color: var(--palette-dark-gray);
  height: 100%;
  margin: auto;
}

.navbar-main-link:hover,
.navbar-main-link:focus {
  opacity: 1;
  color: var(--palette-dark-blue);
}

.navbar-main-divider {
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.3;
}

.nav-item-link {
  opacity: 0.85;
  transition: all 0.15s ease-out 0s;
  color: var(--palette-dark-gray);
  height: 100%;
  margin: auto;
}

.nav-item-link:hover, 
.nav-item-link:focus {
  color: var(--palette-dark-blue);
  opacity: 1;
}

.nav-item-active {
  color: var(--palette-dark-blue);
  margin: auto;
}

.nav-item-bottom-border {
  height: 100%;
  border-bottom: 2px solid var(--palette-med-blue);
  width: fit-content;
}

.nav-item-bottom-border-alt {
  height: 100%;
  border-bottom: 2px solid var(--palette-white);
  width: fit-content;
}

.signup-form-main {
  max-width: 500px;
  padding: 3rem 4rem;
  margin: 2rem auto;
  position: relative;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #e8e8e8;
}

.citations-list-container {
  max-width: 800px;
  padding: 4rem 4rem;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.citations-button-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 2px;
  margin-bottom: 20px;
}

.citations-ask-box {
  display: flex;
  background-color: #fff;
  max-width: 800px;
  height: 55px;
  margin: auto;
  text-align: left;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.9;
  box-shadow: 0 1px 0 var(--palette-gray-blue);
  border: 1px solid var(--palette-gray-blue);
  vertical-align: middle;
}

.citations-link-div {
  margin-left: 15px;
}

.citations-link-div:hover,
.citations-link-div:focus {
  color: var(--palette-med-blue);
}

.citation-list-item-card {
  display: flex !important;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  position: relative;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #e8e8e8;
}

.citation-list-item-source {
  padding-left: 30px;
  padding-right: 30px;
  flex-flow: wrap;
}

.citation-list-item-quote {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  flex-flow: wrap;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.citation-list-item-link {
  color: var(--palette-med-gray);
  font-size: 22px;
  font-weight: bold;
  padding-top: 30px;
  width: 45%;
  text-align: center;
}

.citation-list-item-buttons {
  width: 25%;
  text-align: right;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.citation-list-item-link:hover,
.citation-list-item-link:focus {
  text-decoration: none;
}

.citation-list-item-fave,
.citation-list-item-not-fave {
  justify-content: center;
  background: rgba(255,255,255,.2);
  border-radius: 5px;
}

.citation-list-item-fave {
  color: var(--palette-med-blue);
}

.citation-list-item-not-fave {
  color: var(--palette-light-gray);
}

.citation-list-item-edit,
.citation-list-item-delete {
  justify-content: center;
  color: var(--palette-light-gray);
  background: rgba(255,255,255,.2);
  border-radius: 5px;
}

.citation-list-item-edit:hover,
.citation-list-item-edit:focus,
.citation-list-item-fave:hover,
.citation-list-item-fave:focus {
  color: var(--palette-med-blue);
}

.citation-list-item-logout-button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.citation-list-item-delete:hover,
.citation-list-item-delete:focus {
  color: var(--palette-med-red);
}

.citation-list-item-date {
  font-size: 12px;
  color: var(--palette-light-gray);
}

.profile-container {
  max-width: 1000px;
  padding: 4rem 4rem;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.profile-row {
  max-width: 1000px;
  width: 100%;
  display: inline-flex;
  margin: auto;
}

.profile-picture-container {
  height: 125px;
  max-height: 125px;
}

.profile-picture {
  height: 125px;
  width: 125px;
  border: 1px #f2f2f2 solid;
  border-radius: 50%;
}

.profile-bio-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  justify-content: center;
  padding-left: 10px;
}

.search-form {
  margin: 2rem auto;
  background: white;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
  padding: 20px;
}

.search-logout-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  float: right;
}

.search-delete {
  justify-content: center;
  color: var(--palette-light-gray);
  background: rgba(255,255,255,.2);
  border-radius: 5px;
}

.search-delete:hover,
.search-delete:focus {
  color: var(--palette-med-red);
}

.btn-search-form {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  color: var(--palette-med-blue);
}

.btn-search-form:hover {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: var(--palette-med-blue);
  color: white;
}

.rw-multiselect-taglist>li {
  background: transparent;
  border: 1px solid var(--palette-med-blue);
}

ul.rw-list>li.rw-list-option.rw-state-focus, 
.rw-selectlist>li.rw-list-option.rw-state-focus {
  border: 1px solid var(--palette-white);
  color: var(--palette-med-gray);
}

ul.rw-list>li.rw-list-option, 
.rw-selectlist>li.rw-list-option {
  background: var(--palette-white);
  border: 1px solid var(--palette-white);
}

ul.rw-list>li.rw-list-option:hover, 
.rw-selectlist>li.rw-list-option:hover {
  background: var(--palette-white);
  border: 1px solid var(--palette-med-blue);
}

.rw-combobox .rw-list,
.rw-datetimepicker .rw-list,
.rw-numberpicker .rw-list,
.rw-dropdownlist .rw-list,
.rw-multiselect .rw-list, {
  color: var(--palette-med-gray);
}

.rw-tag-btn {
  padding-left: 4px;
}
